/*
MEDIA QUERY

0 - 600: mobile
600 - 900: tablet portrait
900 - 1200: tablet landscape
1200 - 1800: desktop - normal styles apply
1800+ : big desktop

$breakpoint arguments:
- phone
- tab-port
- tab-land
- big-desktop

1em = 16px
*/
.about {
  position: relative;
  padding: 0 10rem; }
  .about__heading {
    position: absolute;
    top: 30%;
    z-index: -5;
    opacity: 0.1; }
    @media (max-width: 37.5em) {
      .about__heading {
        line-height: 70px;
        top: 0;
        left: 0;
        text-align: center; } }
  .about__content {
    width: 70%;
    position: absolute;
    top: 35%;
    right: 5%; }
    @media (max-width: 37.5em) {
      .about__content {
        top: 15%; } }
  .about__cta {
    position: absolute;
    left: 50%;
    top: 80%;
    transform: translate(-50%, -50%); }
  .about__link {
    font-size: 2rem;
    font-weight: 500;
    text-transform: uppercase;
    width: 100%; }

@keyframes upDown {
  0%,
  100% {
    transform: translateY(0); }
  50% {
    transform: translateY(-3rem); } }

*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit; }

html {
  box-sizing: border-box;
  font-size: 62.5%; }
  @media (min-width: 121em) {
    html {
      font-size: 75%; } }
  @media (max-width: 80em) {
    html {
      font-size: 56.25%; } }
  @media (max-width: 58.75em) {
    html {
      font-size: 50%; } }

body {
  font-family: "Montserrat", sans-serif;
  font-weight: 400;
  line-height: 2.8rem;
  color: #eee;
  background-color: #222831; }

.container {
  display: grid;
  grid-template-rows: 70px repeat(2, min-content);
  position: relative;
  overflow-x: hidden; }

.main {
  display: grid;
  grid-template-rows: repeat(2, 100vh) minmax(min-content, max-content) max-content min-content;
  grid-template-columns: 100vw;
  justify-self: center; }
  @media (min-width: 121em) {
    .main {
      grid-template-columns: 121em; } }
  @media (max-width: 37.5em) {
    .main {
      grid-template-columns: 95vw;
      justify-content: center; } }

.btn, .btn:link, .btn:visited {
  text-transform: uppercase;
  text-decoration: none;
  display: inline-block;
  font-size: 1.4rem;
  border: 2px #d65a31 solid;
  padding: 0.5rem 1.5rem;
  color: #eee;
  font-weight: 400;
  transition: all 0.2s;
  border-radius: 25px;
  cursor: pointer; }

.btn:hover {
  box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.2);
  background-color: #d65a31; }

.btn:active {
  background-color: #de7c5c; }

.btn-text:link, .btn-text:visited {
  text-decoration: none;
  color: #eee; }

.btn-text::after {
  content: "";
  position: absolute;
  bottom: -0.7rem;
  left: 0rem;
  height: 3px;
  width: 100%;
  border-radius: 3px;
  background-color: #d65a31;
  transform: scaleX(0);
  transition: transform 0.3s cubic-bezier(0.165, 0.84, 0.44, 1); }

.btn-text:hover::after {
  transform: scaleX(1); }

.btn-text:active::after {
  background-color: #de7c5c; }

.contact {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(50rem, max-content));
  position: relative;
  grid-gap: 5rem;
  justify-content: center;
  position: relative;
  margin: 10rem;
  padding-top: 4rem; }
  @media (min-width: 121em) {
    .contact {
      grid-template-columns: repeat(2, minmax(50rem, max-content)); } }
  @media (max-width: 37.5em) {
    .contact {
      padding: 0;
      margin: 0;
      grid-template-columns: repeat(auto-fit, minmax(min-content, max-content));
      justify-items: center; } }

.header {
  position: absolute;
  opacity: 0.1;
  z-index: -10; }
  @media (max-width: 58.75em) {
    .header {
      line-height: 70px;
      top: -80px; } }
  @media (max-width: 37.5em) {
    .header {
      font-size: 8.8rem;
      line-height: 52px;
      text-align: center; } }

.form {
  width: 100%; }
  @media (max-width: 37.5em) {
    .form {
      width: 85%; } }

.input {
  display: block;
  font-family: inherit;
  font-size: 1.6rem;
  color: #eee;
  padding: 1rem 1.4rem;
  border-radius: 2px;
  background-color: rgba(34, 40, 49, 0.8);
  border: 1px solid #eee;
  width: 100%; }
  .input:not(:last-child) {
    margin-bottom: 2rem; }
  .input:focus {
    box-shadow: 0 0 1rem rgba(214, 90, 49, 0.7);
    outline: none; }

.submit {
  padding: 1rem 2.4rem;
  font-family: inherit;
  font-size: 1.6rem;
  background: transparent;
  color: #eee;
  border: 1px solid #d65a31; }

textarea {
  resize: none;
  overflow: auto; }

.mapouter {
  position: relative;
  text-align: center;
  height: 430px;
  width: 100%; }
  @media (max-width: 37.5em) {
    .mapouter {
      width: 375px; } }

.gmap_canvas {
  overflow: hidden;
  background: none !important;
  height: 100%;
  width: 100%;
  opacity: .8; }
  @media (max-width: 37.5em) {
    .gmap_canvas {
      text-align: center;
      width: 100%; } }

.footer {
  background-color: #393e46;
  grid-column: 1 / -1;
  text-align: center;
  font-size: 1.4rem;
  padding: 5rem 0 2rem 0; }
  .footer > :not(:last-child) {
    margin-bottom: 3rem; }

.social-icon,
.contact-icon {
  fill: #d65a31;
  transition: all 0.2s; }

.social-icon {
  width: 3.5rem;
  height: 3.5rem; }

.contact-icon {
  width: 3rem;
  height: 3rem; }

.social__link:not(:last-child) {
  margin-right: 8rem; }

.social__link:hover .social-icon {
  fill: #de7c5c; }

.social__link:active .social-icon {
  fill: #d65a31; }

.contact-icons {
  display: grid;
  grid-template-columns: repeat(3, max-content);
  justify-content: center;
  grid-gap: 5rem;
  align-items: center; }
  @media only screen and (max-width: 45em) {
    .contact-icons {
      grid-template-columns: max-content;
      grid-template-rows: min-content;
      justify-items: center;
      grid-gap: 3rem; } }

.mobile,
.email,
.address {
  display: flex;
  align-items: center; }

.address {
  text-align: start; }

.detail {
  margin-left: 1rem; }

.copyright {
  font-size: 1.2rem; }

.home {
  max-width: 100%;
  color: #eee;
  align-self: center;
  line-height: 5rem;
  text-align: center;
  position: relative;
  height: 100vh; }

.owl-carousel {
  position: absolute;
  top: 40%;
  left: 50%;
  transform: translate(-50%, -50%);
  animation: fadeIn 1s ease-out; }
  @media (max-width: 37.5em) {
    .owl-carousel {
      top: 33%; } }

.subheading {
  font-weight: 300;
  text-transform: uppercase; }

.heading {
  display: block;
  text-transform: uppercase;
  letter-spacing: 1.5rem;
  font-size: 3rem; }

.scroll-down {
  position: absolute;
  top: 85%;
  left: 50%;
  transform: translate(-50%, -50%); }
  .scroll-down__icon {
    width: 6rem;
    fill: #d65a31;
    animation: upDown 3s ease-in-out infinite;
    z-index: -100; }

.line {
  position: absolute;
  top: 6%;
  width: 100%; }

.line2 {
  position: absolute;
  top: -5%;
  width: 100%; }

.line3 {
  position: absolute;
  top: 21%;
  width: 100%; }

.line4 {
  position: absolute;
  top: 35%;
  width: 100%; }

.line5 {
  position: absolute;
  top: 45%;
  width: 100%; }

.navigation {
  background-color: #393e46;
  width: 100%;
  height: 75px;
  padding: 0 7%;
  position: fixed;
  z-index: 100;
  box-shadow: 0 1px 1rem rgba(34, 40, 49, 0.7);
  display: grid;
  grid-template-columns: repeat(2, min-content);
  justify-content: space-between; }
  @media (min-width: 121em) {
    .navigation {
      padding: 0 15%; } }
  .navigation__button {
    display: none; }
  @media (max-width: 58.75em) {
    .navigation {
      justify-content: center;
      background-color: transparent;
      box-shadow: none; }
      .navigation__button {
        display: block;
        width: 70px;
        height: 70px;
        background-color: #393e46;
        position: fixed;
        top: 0;
        right: 0;
        z-index: 100;
        transition: all 0.3s; } }
    @media (max-width: 58.75em) and (max-width: 37.5em) {
      .navigation__button {
        width: 65px;
        height: 65px; } }
  .navigation__logo {
    display: grid;
    grid-template-columns: repeat(2, max-content);
    grid-column-gap: 2rem;
    align-items: center;
    font-size: 2.8rem;
    font-weight: 600;
    text-transform: uppercase;
    position: relative; }
    @media (max-width: 58.75em) {
      .navigation__logo {
        display: none; } }
    .navigation__logo:link, .navigation__logo:visited {
      text-decoration: none;
      color: #eee; }
    .navigation__logo::after {
      content: "";
      position: absolute;
      bottom: 1.3rem;
      left: 21.1rem;
      height: 3px;
      width: 13.6rem;
      border-radius: 10%;
      background-color: #d65a31;
      transform: translateX(0);
      transition: transform 0.5s cubic-bezier(0.165, 0.84, 0.44, 1); }
    .navigation__logo:hover::after, .navigation__logo--active::after {
      transform: translateX(-14rem); }
    .navigation__logo:active::after {
      background-color: #de7c5c; }
  .navigation__photo {
    height: 5rem;
    border-radius: 50%; }
  .navigation__items {
    display: grid;
    grid-template-columns: repeat(5, max-content);
    grid-column-gap: 4rem;
    font-size: 1.6rem;
    font-weight: 300;
    position: relative;
    align-items: center;
    z-index: 200; }
    @media (max-width: 58.75em) {
      .navigation__items {
        grid-template-columns: max-content;
        margin-top: 50px;
        width: 120px;
        height: 0;
        position: absolute;
        text-align: center;
        transition: all 0.3s;
        opacity: 0;
        overflow: hidden;
        right: 0px; } }
  .navigation__item {
    list-style: none;
    position: relative;
    text-transform: uppercase; }
    @media (max-width: 58.75em) {
      .navigation__item {
        display: block;
        font-weight: 400;
        font-size: 2.5rem; } }
  .navigation__link {
    width: 100%;
    padding: 0.6rem 0.3rem; }
    .navigation__link--active::after {
      transform: scaleX(1); }
  .navigation__checkbox {
    display: none; }
  .navigation__checkbox:checked ~ .navigation__button {
    height: 100vh;
    width: 100vw; }
  .navigation__checkbox:checked ~ .navigation__items {
    height: 400px;
    opacity: 1;
    right: 42%; }
    @media (max-width: 37.5em) {
      .navigation__checkbox:checked ~ .navigation__items {
        right: 120px; } }
  .navigation__icon {
    position: absolute;
    margin-top: 3.4rem;
    z-index: 300;
    right: 2px;
    top: 10px;
    transform: translate(-50%, -50%); }
    @media (max-width: 37.5em) {
      .navigation__icon {
        top: 7px; } }
    .navigation__icon, .navigation__icon::before, .navigation__icon::after {
      width: 4rem;
      height: 2px;
      background-color: #eee;
      display: inline-block; }
      @media (max-width: 37.5em) {
        .navigation__icon, .navigation__icon::before, .navigation__icon::after {
          width: 3.5rem; } }
    .navigation__icon::before, .navigation__icon::after {
      content: "";
      position: absolute;
      left: 0;
      transition: all 0.2s; }
    .navigation__icon::before {
      top: -1.4rem; }
    .navigation__icon::after {
      top: 1.4rem; }
  .navigation__checkbox:checked + .navigation__button .navigation__icon {
    background-color: transparent; }
  .navigation__checkbox:checked + .navigation__button .navigation__icon::before {
    top: 0;
    transform: rotate(135deg); }
  .navigation__checkbox:checked + .navigation__button .navigation__icon::after {
    top: 0;
    transform: rotate(-135deg); }

p {
  font-size: 1.6rem; }

h2 {
  text-transform: uppercase;
  font-size: 12rem;
  font-weight: 700; }

h3 {
  font-size: 2rem;
  font-weight: 500; }

.whatido {
  position: relative;
  display: grid;
  grid-template-columns: repeat(3, minmax(min-content, 55rem));
  grid-template-rows: max-content;
  grid-gap: 6rem;
  justify-self: center;
  text-align: center;
  margin: 5rem 0 10rem 0;
  padding: 0 10rem; }
  @media (min-width: 121em) {
    .whatido {
      grid-template-columns: repeat(3, minmax(45rem, max-content)); } }
  @media (max-width: 58.75em) {
    .whatido {
      grid-template-columns: minmax(min-content, 60rem); } }
  .whatido__heading {
    position: absolute;
    z-index: -2;
    opacity: 0.1;
    right: 5%;
    top: -5%; }
    @media (max-width: 58.75em) {
      .whatido__heading {
        line-height: 70px; } }
  .whatido__icon {
    height: min-content;
    margin-bottom: 2rem; }
    .whatido__icon svg {
      width: 6rem;
      height: 6rem;
      fill: #d65a31; }
  .whatido__content {
    margin-top: 2rem; }
  .whatido__subhead-secondary {
    margin-top: 2rem;
    display: block;
    color: #d65a31; }
  .whatido__cert-link {
    text-decoration: none;
    color: #d65a31; }
  .whatido__items {
    margin-top: 2rem; }
  .whatido__item {
    font-size: 1.6rem;
    list-style: none; }
  .whatido__cta {
    grid-column: 1/-1;
    width: 27rem;
    justify-self: center;
    position: relative;
    padding-top: 5rem; }
  .whatido__link {
    align-self: end;
    font-size: 2rem;
    font-weight: 500;
    text-transform: uppercase;
    width: 100%; }

.works {
  margin: 15rem 0;
  position: relative;
  display: grid;
  grid-template-columns: repeat(3, minmax(min-content, 40rem));
  grid-template-rows: repeat(3, min-content);
  grid-gap: 4rem;
  font-size: 1.6rem;
  font-weight: 300;
  justify-self: center;
  padding: 0 10rem; }
  @media (min-width: 121em) {
    .works {
      grid-template-columns: repeat(3, minmax(43rem, max-content)); } }
  @media (max-width: 58.75em) {
    .works {
      margin: 10rem 0;
      grid-template-columns: minmax(min-content, 40rem); } }
  @media (max-width: 37.5em) {
    .works {
      margin: 20rem 0;
      width: 80%;
      padding: 0;
      justify-content: center; } }
  .works__heading {
    grid-column: 1 / -1;
    opacity: 0.1;
    text-align: center; }
    @media (max-width: 58.75em) {
      .works__heading {
        line-height: 70px; } }
    @media (max-width: 37.5em) {
      .works__heading {
        font-size: 10.3rem;
        line-height: 65px; } }
  .works__projects {
    margin-top: 5rem;
    height: 23rem;
    overflow: hidden;
    border-radius: 2%;
    box-shadow: 1px 1px 10px rgba(0, 0, 0, 0.2);
    position: relative;
    text-align: center;
    background-color: #393e46; }
    @media (min-width: 121em) {
      .works__projects {
        height: 25rem; } }
    @media (max-width: 80em) {
      .works__projects {
        height: 21rem; } }
    @media (max-width: 58.75em) {
      .works__projects {
        height: 30rem;
        margin-top: 0; } }
    @media (max-width: 37.5em) {
      .works__projects {
        height: 26rem; } }
    .works__projects:hover img {
      transform: scale(1.1, 1.1);
      opacity: 0.1;
      filter: blur(1px); }
    .works__projects:hover .works__button,
    .works__projects:hover .works__caption {
      opacity: 1; }
  .works__image {
    width: 110%;
    position: absolute;
    left: -4%;
    transition: all 0.5s; }
  .works__caption {
    position: absolute;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -50%);
    opacity: 0;
    transition: all 0.4s; }
  .works__button {
    position: absolute;
    top: 70%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 100%;
    opacity: 0;
    transition: all 0.4s; }
    .works__button a:not(:last-child) {
      margin-right: 2rem; }
