.about {
  grid-column: 2 / 8;
  position: relative; }
  .about__heading {
    position: relative;
    top: 29%;
    z-index: -5;
    opacity: 0.1; }
  .about__content {
    position: relative;
    width: 70%;
    top: 30%;
    left: 30%; }
  .about__cta {
    position: absolute;
    display: inline;
    left: 50%;
    top: 70%;
    transform: translate(-50%, -50%); }
  .about__link {
    font-size: 2rem;
    font-weight: 500;
    text-transform: uppercase;
    width: 100%; }

@keyframes zoomIn {
  0% {
    opacity: 0;
    transform: scale(0.7, 0.7); }
  30% {
    opacity: 1;
    transform: scale(1, 1); }
  80% {
    opacity: 1;
    transform: scale(1, 1); }
  100% {
    opacity: 0;
    transform: scale(1.2, 1.2); } }

@keyframes upDown {
  0%, 100% {
    transform: translateY(0); }
  50% {
    transform: translateY(-3rem); } }

*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit; }

html {
  box-sizing: border-box;
  font-size: 62.5%; }

body {
  font-family: "Montserrat", sans-serif;
  font-weight: 400;
  line-height: 2.8rem;
  color: #eee;
  background-color: #222831; }

.container {
  display: grid;
  grid-template-rows: 70px min-content; }

.main {
  display: grid;
  grid-template-rows: 100vh repeat(3, 100vh) repeat(2, max-content);
  grid-template-columns: 1fr repeat(6, minmax(min-content, 22rem)) 1fr; }

.btn, .btn:link, .btn:visited {
  text-transform: uppercase;
  text-decoration: none;
  display: inline-block;
  font-size: 1.5rem;
  border: 2px #D65A31 solid;
  padding: 0.5rem 1.5rem;
  color: #eee;
  font-weight: 500;
  transition: all 0.2s;
  border-radius: 25px;
  cursor: pointer; }

.btn:hover {
  box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.2);
  background-color: #D65A31; }

.btn:active {
  background-color: #de7c5c; }

.btn-text:link, .btn-text:visited {
  text-decoration: none;
  color: #eee; }

.btn-text::after {
  content: "";
  position: absolute;
  bottom: -0.7rem;
  left: 0rem;
  height: 3px;
  width: inherit;
  border-radius: 15%;
  background-color: #D65A31;
  transform: scaleX(0);
  transition: transform 0.3s cubic-bezier(0.165, 0.84, 0.44, 1); }

.btn-text:hover::after {
  transform: scaleX(1); }

.btn-text:active::after {
  background-color: #de7c5c; }

.contact {
  grid-column: 2 / 8;
  display: grid;
  grid-template-columns: repeat(2, minmax(min-content, 50rem));
  position: relative;
  grid-gap: 5rem;
  justify-content: center;
  position: relative; }

.header {
  position: absolute;
  top: -7%;
  opacity: 0.1;
  z-index: -10; }

.input {
  display: block;
  font-family: inherit;
  font-size: 1.6rem;
  color: #eee;
  padding: 1rem 1.4rem;
  border-radius: 2px;
  background-color: rgba(34, 40, 49, 0.8);
  border: 1px solid #eee;
  width: 100%; }
  .input:not(:last-child) {
    margin-bottom: 2rem; }
  .input:focus {
    box-shadow: 0 0 1rem rgba(214, 90, 49, 0.7); }

.submit {
  padding: 1rem 2.4rem;
  font-family: inherit;
  font-size: 1.6rem;
  background: transparent;
  color: #eee;
  border: 1px solid #D65A31; }

textarea {
  resize: none;
  overflow: auto; }

.mapouter {
  position: relative;
  text-align: right;
  height: 510px;
  width: 100%; }

.gmap_canvas {
  overflow: hidden;
  background: none !important;
  height: 510px;
  width: 674px;
  opacity: .8; }

.footer {
  background-color: #393E46;
  grid-column: 1 / -1;
  text-align: center;
  font-size: 1.6rem;
  padding: 5rem 0; }
  .footer > :not(:last-child) {
    margin-bottom: 4rem; }

.social-icon,
.contact-icon {
  width: 3rem;
  height: 3rem;
  fill: #D65A31;
  transition: all 0.2s; }

.social__link:not(:last-child) {
  margin-right: 5rem; }

.social__link:hover .social-icon {
  fill: #e79e86; }

.social__link:active .social-icon {
  fill: #D65A31; }

.contact-icons {
  display: grid;
  grid-template-columns: repeat(3, max-content);
  justify-content: center;
  grid-gap: 5rem;
  align-items: center; }

.mobile,
.email {
  display: flex;
  align-items: center; }

.address {
  display: grid;
  grid-template-columns: repeat(2, max-content);
  align-items: center;
  text-align: start; }

.detail {
  margin-left: 1rem; }

.copyright {
  font-size: 1rem; }

.home {
  grid-column: 1 / -1;
  max-width: 90vw;
  color: #eee;
  align-self: center;
  justify-self: center;
  line-height: 5rem;
  text-align: center; }

.subheading {
  font-weight: 300;
  text-transform: uppercase; }

.heading {
  display: block;
  text-transform: uppercase;
  letter-spacing: 1.5rem;
  font-size: 3rem; }

.scroll__icon {
  position: absolute;
  width: 6rem;
  fill: #D65A31;
  top: 80%;
  left: 48%;
  transform: translate(-50%, -50%);
  animation: upDown 3s ease-in-out infinite;
  z-index: -100; }

.navigation {
  background-color: #393E46;
  width: 100vw;
  height: 75px;
  padding: 0 7%;
  position: fixed;
  z-index: 100;
  box-shadow: 0 2px 1rem rgba(34, 40, 49, 0.7);
  display: grid;
  grid-template-columns: repeat(2, min-content);
  justify-content: space-between; }
  .navigation__logo {
    display: grid;
    grid-template-columns: repeat(2, max-content);
    grid-column-gap: 2rem;
    align-items: center;
    font-size: 2.8rem;
    font-weight: 600;
    text-transform: uppercase;
    position: relative; }
    .navigation__logo:link, .navigation__logo:visited {
      text-decoration: none;
      color: #eee; }
    .navigation__logo::after {
      content: "";
      position: absolute;
      bottom: 1.3rem;
      left: 21.1rem;
      height: 3px;
      width: 13.6rem;
      border-radius: 10%;
      background-color: #D65A31;
      transform: translateX(0);
      transition: transform 0.5s cubic-bezier(0.165, 0.84, 0.44, 1); }
    .navigation__logo:hover::after, .navigation__logo--active::after {
      transform: translateX(-14rem); }
    .navigation__logo:active::after {
      background-color: #de7c5c; }
  .navigation__photo {
    height: 5rem;
    border-radius: 50%; }
  .navigation__items {
    display: grid;
    grid-template-columns: repeat(5, max-content);
    grid-column-gap: 4rem;
    align-items: center;
    font-size: 1.8rem;
    font-weight: 300;
    position: relative; }
  .navigation__item {
    list-style: none;
    position: relative; }
  .navigation__link {
    width: 100%;
    padding: 0.5rem .3rem; }
    .navigation__link--active::after {
      transform: scaleX(1); }

p {
  font-size: 1.6rem; }

h2 {
  text-transform: uppercase;
  font-size: 12rem;
  font-weight: 700; }

h3 {
  font-size: 2rem;
  font-weight: 500; }

.whatido {
  grid-column: 2 / 8;
  position: relative;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 6rem;
  text-align: center; }
  .whatido__section {
    padding: 1rem; }
  .whatido__icon {
    height: 13rem; }
    .whatido__icon svg {
      width: 6rem;
      fill: #D65A31; }
  .whatido__heading {
    position: absolute;
    z-index: -2;
    opacity: 0.1;
    left: 41.3%;
    top: 2%; }
  .whatido__content {
    margin-top: 2rem; }
  .whatido__subhead-secondary {
    margin-top: 2rem;
    display: block;
    color: #D65A31; }
  .whatido__items {
    margin-top: 2rem; }
  .whatido__item {
    font-size: 1.6rem;
    list-style: none; }
  .whatido__cert-link {
    text-decoration: none;
    color: #D65A31; }
  .whatido__cta {
    position: absolute;
    top: 80%;
    left: 50%;
    transform: translate(-50%, -50%); }
  .whatido__link {
    font-size: 2rem;
    font-weight: 500;
    text-transform: uppercase;
    width: 100%; }

.works {
  margin-top: 5rem;
  grid-column: 2 / 8;
  position: relative;
  display: grid;
  grid-template-columns: repeat(3, minmax(min-content, 40rem));
  grid-template-rows: repeat(3, 1fr);
  grid-gap: 5rem;
  justify-self: center; }
  .works__heading {
    position: absolute;
    top: 60%;
    opacity: 0.1;
    z-index: -10; }
  .works__projects {
    position: relative;
    height: 25rem;
    overflow: hidden;
    border-radius: 2%;
    box-shadow: 2px 2px 20px rgba(0, 0, 0, 0.3);
    position: relative;
    font-size: 1.6rem;
    text-align: center;
    background-color: #393E46; }
    .works__projects:hover img {
      transform: scale(1.1, 1.1);
      opacity: 0.2;
      filter: blur(1px); }
    .works__projects:hover .works__button,
    .works__projects:hover .works__caption {
      opacity: 1; }
  .works__image {
    width: 110%;
    position: absolute;
    left: -4%;
    transition: all 0.5s;
    object-fit: cover; }
  .works__caption {
    font-weight: 500;
    position: absolute;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -50%);
    opacity: 0;
    transition: all 0.4s; }
  .works__button {
    position: absolute;
    top: 70%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 100%;
    opacity: 0;
    transition: all 0.4s; }
