.about {
  // grid-column: 1 / -1;
  position: relative;
  // display: flex;
  // justify-content: flex-end;
  // padding: 0 5rem;
  @include paddingLeftRight;

  &__heading {
    position: absolute;
    top: 30%;
    z-index: -5;
    opacity: 0.1;

    @include mQ(phone) {
      line-height: 70px;
      top: 0;
      left: 0;
      text-align: center;
    }
  }

  &__content {
    width: 70%;
    position: absolute;
    top: 35%;
    right: 5%;
    // @include centerAnchor;

    @include mQ(phone) {
    top: 15%;

    }
  }

  &__cta {
    position: absolute;
    left: 50%;
    top: 80%;
    transform: translate(-50%, -50%);
  }

  &__link {
    font-size: 2rem;
    font-weight: 500;
    text-transform: uppercase;
    width: 100%;
  }
}
