.about {
  grid-column: 2 / 8;
  position: relative;

  &__heading {
    position: relative;
    top: 29%;
    z-index: -5;
    opacity: 0.1;
  }

  &__content {
    position: relative;
    width: 70%;
    top: 30%;
    left: 30%;
  }

  &__cta {
    position: absolute;
    display: inline;
    left: 50%;
    top: 70%;
    transform: translate(-50%, -50%);
  }

  &__link {
    font-size: 2rem;
    text-transform: uppercase;
    width: 100%;
  }
}
