// Colors

$color-primary-orange: #D65A31;
$color-primary-dark: #222831;
$color-primary-light: #eee;
$color-primary-medium: #707070;

*,
*::after,
*::before {
    margin: 0;
    padding: 0;
    box-sizing: inherit;
}

html {
    box-sizing: border-box;
    font-size: 62.5%;
}

body {
    font-family: "Montserrat", sans-serif;
    font-weight: 400;
    color: $color-primary-light;
    background-color: $color-primary-dark;
}