// Colors

$color-primary-orange: #d65a31;
$color-primary-dark: #222831;
$color-primary-light: #eee;
$color-primary-medium: #707070;
$color-primary-semi-dark: #393e46;

$color-black: #000;


// Initialization
*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html {
  box-sizing: border-box;
  font-size: 62.5%;

  @include mQ(big-desktop) {
    font-size: 75%;
  }
  
  @include mQ(tab-land) {
    font-size: 56.25%; // 9 / 16
  }
  
  @include mQ(tab-port) {
    font-size: 50%; // 8 / 16
  }
  
  // @include mQ(phone) {
  //   font-size: 43.75%; // 7 / 16
  // }
 
}

body {
  font-family: "Montserrat", sans-serif;
  font-weight: 400;
  line-height: 2.8rem;
  color: $color-primary-light;
  background-color: $color-primary-dark;
}

.container {
  display: grid;
  grid-template-rows: 70px repeat(2, min-content);
  position: relative;
  overflow-x: hidden;
}

.main {
  display: grid;
  grid-template-rows: repeat(2, 100vh) minmax(min-content, max-content) max-content min-content;
  grid-template-columns: 100vw;
  justify-self: center;

  @include mQ(big-desktop) {
    grid-template-columns: 121em;
  }
  @include mQ(phone) {
    grid-template-columns: 95vw;
    justify-content: center;
  }
}
