.btn-text {
  &:link,
  &:visited {
    text-decoration: none;
    color: $color-primary-light;
  }

  &::after {
    content: "";
    position: absolute;
    bottom: -0.7rem;
    left: 0rem;
    height: 3px;
    width: inherit;
    border-radius: 15%;
    background-color: $color-primary-orange;
    transform: scaleX(0);
    transition: transform 0.3s cubic-bezier(0.165, 0.84, 0.44, 1);
  }

  &:hover::after {
    transform: scaleX(1);
  }

  &:active::after {
    background-color: lighten($color-primary-orange, 10);
  }
}
