.contact {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(50rem, max-content));
  position: relative;
  grid-gap: 5rem;

  justify-content: center;
  position: relative;
  margin: 10rem;
  padding-top: 4rem;

  @include mQ(big-desktop) {
    grid-template-columns: repeat(2, minmax(50rem, max-content));

  }

  @include mQ(phone) {
    padding: 0;
    margin: 0;
    grid-template-columns: repeat(auto-fit, minmax(min-content, max-content));
    justify-items: center;
  }

 
}

.header {
  position: absolute;
  opacity: 0.1;
  z-index: -10;

  @include mQ(tab-port) {
    line-height: 70px;
    top: -80px;
  }

  @include mQ(phone) {
    font-size: 8.8rem;
    line-height: 52px;
    text-align: center;
  }
  

}

.form {
  width: 100%;
  @include mQ(phone) {
    width: 85%;
  }
}

.input {
  display: block;
  font-family: inherit;
  font-size: 1.6rem;
  color: $color-primary-light;
  padding: 1rem 1.4rem;
  border-radius: 2px;
  background-color: rgba($color-primary-dark, 0.8);
  border: 1px solid $color-primary-light;
  width: 100%;

  &:not(:last-child) {
    margin-bottom: 2rem;
  }

  &:focus {
    box-shadow: 0 0 1rem rgba($color-primary-orange, 0.7);
    outline: none;
  }

 
}

.submit {
  padding: 1rem 2.4rem;
  font-family: inherit;
  font-size: 1.6rem;
  background: transparent;
  color: $color-primary-light;
  border: 1px solid $color-primary-orange;
}

textarea {
  resize: none;
  overflow: auto;
}

.mapouter {
  position: relative;
  text-align: center;
  height: 430px;
  width: 100%;
  @include mQ(phone) {
  width: 375px;
  }
}

.gmap_canvas {
  overflow: hidden;
  background: none !important;
  height: 100%;
  width: 100%;
  opacity: .8;

  @include mQ(phone) {
    text-align: center;
    width: 100%;
  }
}
