.footer {
  background-color: $color-primary-semi-dark;
  grid-column: 1 / -1;

  text-align: center;
  font-size: 1.4rem;
  padding: 5rem 0 2rem 0;

  & > :not(:last-child) {
    margin-bottom: 3rem;
  }
}

.social-icon,
.contact-icon {
  fill: $color-primary-orange;
  transition: all 0.2s;
}

.social-icon {
  width: 3.5rem;
  height: 3.5rem;
}

.contact-icon {
  width: 3rem;
  height: 3rem;
}

.social__link {
  &:not(:last-child) {
    margin-right: 8rem;
  }

  &:hover .social-icon {
    fill: lighten($color-primary-orange, 10);
  }

  &:active .social-icon {
    fill: $color-primary-orange;
  }
}

.contact-icons {
  display: grid;
  grid-template-columns: repeat(3, max-content);
  justify-content: center;
  grid-gap: 5rem;
  align-items: center;

  @media only screen and (max-width: 45em) {
    grid-template-columns: max-content;
    grid-template-rows: min-content;
    justify-items: center;
    grid-gap: 3rem;
  }
}

.mobile,
.email,
.address {
  display: flex;
  align-items: center;
}

.address {
  text-align: start;
}

.detail {
  margin-left: 1rem;
}

.copyright {
  font-size: 1.2rem;
}
