.home {
  // background-color: cadetblue;
  grid-column: 2 / 8;
  color: $color-primary-light;

  align-self: center;
  justify-self: center;
  line-height: 5rem;
  text-align: center;
}

.heading-2 {
  display: none;
}


.subheading {
  display: block;
  font-weight: 300;
  text-transform: uppercase;
}

.heading {
  display: block;
  text-transform: uppercase;
  letter-spacing: 1.5rem;
  font-size: 3rem;

}

.scroll {

  &__icon {
    position: absolute;
    width: 6rem;
    fill: $color-primary-orange;
    top: 80%;
    left: 48%;
    transform: translate(-50%,-50%);
    animation: upDown 3s ease-in-out infinite;
    z-index: -100;
  }
}
