.line {
  position: absolute;
  top: 6%;
  width: 100%;
}

.line2 {
  position: absolute;
  top: -5%;
  width: 100%;
}

.line3 {
  position: absolute;
  top: 21%;
  width: 100%;
}

.line4 {
  position: absolute;
  top: 35%;
  width: 100%;
}

.line5 {
  position: absolute;
  top: 45%;
  width: 100%;
}
