.whatido {
  // grid-column: 1 / -1;
  position: relative;
  display: grid;
  grid-template-columns: repeat(3, minmax(min-content, 55rem));
  grid-template-rows: max-content;
  grid-gap: 6rem;
  justify-self: center;
  text-align: center;
  margin: 5rem 0 10rem 0;
  @include paddingLeftRight;

  @include mQ(big-desktop) {
    grid-template-columns: repeat(3, minmax(45rem, max-content));
  }

  @include mQ(tab-port) {
    grid-template-columns: minmax(min-content, 60rem);
  }

  &__heading {
    position: absolute;
    z-index: -2;
    opacity: 0.1;
    right: 5%;
    top: -5%;
    @include mQ(tab-port) {
      line-height: 70px;
    }
  }

  &__icon {
    height: min-content;
    margin-bottom: 2rem;
    & svg {
      width: 6rem;
      height: 6rem;
      fill: $color-primary-orange;
    }
  }

  &__content {
    margin-top: 2rem;
  }

  &__subhead-secondary {
    margin-top: 2rem;
    display: block;
    color: $color-primary-orange;
  }

  &__cert-link {
    text-decoration: none;
    color: $color-primary-orange;
  }

  &__items {
    margin-top: 2rem;
  }

  &__item {
    font-size: 1.6rem;
    list-style: none;
  }

  &__cta {
    grid-column: 1/-1;
    width: 27rem;
    justify-self: center;
    position: relative;
    padding-top: 5rem;
  }

  &__link {
    align-self: end;
    // position: absolute;
    // top: 5rem;
    // transform: translate(-50%, -50%);
    font-size: 2rem;
    font-weight: 500;
    text-transform: uppercase;
    width: 100%;
  }
}
