.works {
  margin: 15rem 0;
  position: relative;
  display: grid;
  grid-template-columns: repeat(3, minmax(min-content, 40rem));
  grid-template-rows: repeat(3, min-content);
  grid-gap: 4rem;
  font-size: 1.6rem;
  font-weight: 300;
  justify-self: center;
  @include paddingLeftRight;

  @include mQ(big-desktop) {
    grid-template-columns: repeat(3, minmax(43rem, max-content));
  }

  @include mQ(tab-port) {
    margin: 10rem 0;
    grid-template-columns: minmax(min-content, 40rem);
  }

  @include mQ(phone) {
    margin: 20rem 0;
    width: 80%;
    padding: 0;
    justify-content: center;
  }

  &__heading {
    grid-column: 1 / -1;
    opacity: 0.1;
    text-align: center;

    @include mQ(tab-port) {
      line-height: 70px;
    }

    @include mQ(phone) {
      font-size: 10.3rem;
      line-height: 65px;
    }
  }

  &__projects {
    margin-top: 5rem;
    height: 23rem;
    overflow: hidden;
    border-radius: 2%;
    box-shadow: 1px 1px 10px rgba(0, 0, 0, 0.2);
    position: relative;
    text-align: center;
    background-color: $color-primary-semi-dark;

    @include mQ(big-desktop) {
      height: 25rem;
    }

    @include mQ(tab-land) {
    height: 21rem;
      
    }
    @include mQ(tab-port) {
    height: 30rem;
    margin-top: 0;
      
    }
    @include mQ(phone) {
      // max-width: 90vw;
      height: 26rem;
    }
    

    &:hover img {
      transform: scale(1.1, 1.1);
      opacity: 0.1;
      filter: blur(1px);
    }

    &:hover .works__button,
    &:hover .works__caption {
      opacity: 1;
    }
  }

  &__image {
    width: 110%;
    position: absolute;
    left: -4%;
    transition: all 0.5s;
    // object-fit: cover;
  }

  &__caption {
    position: absolute;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -50%);
    opacity: 0;
    transition: all 0.4s;
  }

  &__button {
    position: absolute;
    top: 70%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 100%;
    opacity: 0;
    transition: all 0.4s;

    & a:not(:last-child) {
      margin-right: 2rem;
    }
  }
}
