.works {
  margin-top: 5rem;
  grid-column: 2 / 8;
  position: relative;
  display: grid;
  grid-template-columns: repeat(3, minmax(min-content, 40rem));
  grid-template-rows: repeat(3, 1fr);
  grid-gap: 5rem;

  justify-self: center;

  &__heading {
    position: absolute;
    top: 60%;
    opacity: 0.1;
    z-index: -10;
  }

  &__projects {
    position: relative;
    height: 25rem;
    overflow: hidden;
    border-radius: 2%;
    box-shadow: 2px 2px 20px rgba(0, 0, 0, 0.3);
    position: relative;
    font-size: 1.6rem;
    text-align: center;
    background-color: $color-primary-semi-dark;

    &:hover img {
      transform: scale(1.1, 1.1);
      opacity: 0.1;
      filter: blur(3px);
    }

    &:hover a,
    &:hover .works__caption {
      opacity: 1;
    }
  }

  &__image {
    width: 110%;
    position: absolute;
    left: -4%;
    transition: all 0.5s;
    object-fit: cover;
  }

  &__caption {
    font-weight: 500;
    position: absolute;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -50%);
    opacity: 0;
    transition: all 0.4s;
  }

  &__button {
    position: absolute;
    top: 70%;
    left: 50%;
    transform: translate(-50%, -50%);
    transition: all 0.4s;
    opacity: 0;
  }
}
